{% extends 'base.html' %}
{% block title %}
    Editar Categoría
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Editar Categoría</h2>
    <form method="POST" action="{% url 'actualizar-categoria' categoria.id_categoria %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Actualizar</button>
        <a href="{% url 'listado-categorias' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>
{% endblock %}